page-statistiques {
  

        .chart-wrapper {
           width: 100%;
           display: inline-block;
           //align-content: center;
           //margin: 1em 2em;
        }
     
     
        canvas  {
           height: 500px;
        }
     

}
