<ion-header>

  <ion-navbar color="primary">
    <ion-title>Description</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<div *ngIf="indexFromTabs">
		Entrer l'information que vous voulez modifier de l'item selectioner : {{indexFromTabs}}
			<input type="text" [(ngModel)]="description" clear block>
			<ion-buttons>
				<button ion-button block outline color="primary" class="update-button" 
        type="submit" (click)="modifyDescriptionClick(description, indexFromTabs)">
					modifier
				</button>
			</ion-buttons>
	</div>
	<div *ngIf="!indexFromTabs">
		<p>
				Vous navez selectionne aucun capteur a modifier... retour vers: 
		</p>
		<div>
			<button ion-button clear block color="primitive" (click)="returnToTabsPage()">ecran principale</button>
		</div>
	</div>
</ion-content>