page-description-capteur {
    span {
        color: gray;
      }
          .update-button {
            text-transform: none;
            border-radius: 3px !important;
            span {
              color: color($colors, primary) !important;
            }
          }
}

