<ion-header>

	<ion-navbar color="primary">
		<ion-title>Systeme de ventilation</ion-title>
	</ion-navbar>

</ion-header>


<ion-content padding>
	<ion-item>
		<ion-label>Entrepot</ion-label>
		<ion-select [(ngModel)]="selectionEntrepot" (ionChange)="onSelectEntrepotChange($event)">
		  <ion-option value="Peribonka">Peribonka</ion-option>
		  <ion-option value="StMrg">St-Margerite</ion-option>
		</ion-select>
	</ion-item>
	<ion-item>	
		<ion-label>Section</ion-label>
			<ion-select [(ngModel)]="selectionSection" (ionChange)="onSelectSectionChange($event)">
				<div *ngIf="selectionEntrepot == 'Peribonka'">
					<ion-option value="ABCD">Section ABCD</ion-option>
					<ion-option value="EFG">Section EFG</ion-option>
					<ion-option value="AutreP">Autre</ion-option>
				</div>
				<div *ngIf="selectionEntrepot == 'StMrg'">
					<ion-option value="Pompe">Section Pompe</ion-option>
					<ion-option value="Village">Section Village</ion-option>
					<ion-option value="AutreSTM">Autre</ion-option>
				</div>
			</ion-select>	
  	</ion-item>

	<ion-list>
			<ion-item-sliding *ngFor="let fan of Fans | async; let i = index;">
				<ion-item>
					<img src="../../assets/imgs/fan.png" alt="fan" class="fan">
					<button ion-button clear padding-top (click)="onClickItemList(fan.Description, i+1)"> fan {{fan.DescriptionCourte}} : {{fan.Marche | json}}</button>
				</ion-item>

				<ion-item-options>
					<button ion-button color="secondary" (click)="descriptionClicked(i+1)">
						<ion-icon name="menu"></ion-icon>
						Description
					</button>
				</ion-item-options>
			</ion-item-sliding>

	</ion-list>
</ion-content>